body {
    font-family: 'Calluna-Regular', 'Times';
}

#body-carta {
    background-color: #F9ECDB;
}

h1 {
    font-family: 'Josefin Sans';
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Calluna-Regular';
}

p,
i,
li {
    font-family: "Calluna-Regular";
    font-size: 20px;
    line-height: 1.5;
}

#calluna-a {
    font-family: "Calluna-Regular";
    text-decoration: none;
    color: white;
}

.far,
.fas,
.fab {
    text-decoration: none;
    color: black;
}

.btn,
.mb-3 {
    text-decoration: none;
}

#tdn {
    text-decoration: none;
    color: white;
}

#h2general {
    font-family: 'Josefin Sans';
}

@font-face {
    font-family: "fontawesome-webfont";
    src: url('fonts/fontawesome-webfont.woff2') format('woff2'), url('fonts/fontawesome-webfont.woff') format('woff');
}

#iconsFooter {
    font-family: "fontawesome-webfont";
    text-decoration: none;
    color: black;
}

.bgIg {
    background-image: linear-gradient(to right, #5163cf, #ce3881, #fac61f);
}

.bgGM {
    background-color: rgb(56, 168, 86);
}

.bgPB {
    background-color: rgb(0, 20, 110);
}

.tdnButton {
    text-decoration: none;
    color: black;
}

.tdnButton:hover {
    text-decoration: none;
    color: black;
}

.footerStyle {
    font-family: "Calluna-Regular";
    font-size: 16px;
    text-decoration: none;
    color: black;
}