body {
    font-family: 'Calluna-Regular', 'Times';
}

#body-carta {
    background-color: #F9ECDB;
}

h1 {
    font-family: 'Josefin Sans';
}

h2, h3 {
    font-family: 'Calluna-Regular';
}

p,
i,
li {
    font-family: "Calluna-Regular";
    font-size: 18px;
}

#calluna-a {
    font-family: "Calluna-Regular";
    text-decoration: none;
    color: white;
}